################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/plugins/repository.elementum/repository.elementum-0.0.61
